# Git
.git
.gitignore

# Node.js
node_modules
npm-debug.log
yarn-error.log

# Build files
dist
coverage
tmp
.angular

# IDE files
.vscode
.idea
*.swp
*.swo

# System files
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml
docker-compose.override.yml
.dockerignore 